{
  "env": {
    "mocha": true
  },
  "globals": {
    "expect": true,
    "sinon": true
  },
  "plugins": [
    "html",
    "json"
  ],
  "extends": [
    "plugin:vue/strongly-recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-restricted-globals": [
      "error",
      "event",
      "fdescribe"
    ],
    "prettier/prettier": "error"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  }
}
