.xb-alert{
  display: inline-block;
  width: 100%;
  padding-bottom: 10px;
  background-color: #fff;
  border-radius: 4px;
  font-size: 18px;
  padding: 8px 16px;
  display: flex;
  position: relative;
}
.xb-alert-x{
  position: absolute;
  top: 5px;
  right: 15px;
  padding: 0;
  color: #c0c4cc;
  cursor: pointer;
}
.xb-alert-success{
  background-color: #f0f9eb;
  color: #67c23a;
}
.xb-alert-error{
  background-color: #fef0f0;
  color: #f56c6c;
}
.xb-alert-warning{
  background-color: #fdf6ec;
  color: #e6a23c;
}
