@import "common/var.scss";

$color-prefix: $css-prefix + "color";

.colorBox {
  display: flex;
  flex-wrap: wrap;
  & .item {
    font-size: 16px;
    padding: 15px;
    width: 10%;
    border-radius: 3px;
    margin-bottom: 15px;
    margin-right: 5px;
    color: #fff;
    & div:last-child {
      font-size: 14px;
      opacity: 0.8;
      margin-top: 3px;
    }
  }
}
.default {
  background: $color-primary;
}

.Primary3 {
  background: $color-primary3;
  color: #333 !important;
}

.Primary2 {
  background: $color-primary2;
  color: #333 !important;
}

.Primary1 {
  background: $color-primary1;
  color: #333 !important;
}

.Primary5 {
  background: $color-primary5;
}

.Primary6 {
  background: $color-primary6;
}

.Primary7 {
  background: $color-primary7;
}

.gray1 {
  background: $color-gray1;
  color: #333 !important;
}
.gray2 {
  background: $color-gray2;
  color: #333 !important;
}
.gray3 {
  background: $color-gray3;
  color: #333 !important;
}
.gray4 {
  background: $color-gray4;
  color: #333 !important;
}
.gray5 {
  background: $color-gray5;
  color: #333 !important;
}
.gray6 {
  background: $color-gray6;
}
.white {
  background: $color-white;
  color: #333 !important;
}
.black {
  background: $color-black;
}
.blue {
  background: $color-blue;
}
.green {
  background: $color-green;
}
.orange {
  background: $color-orange;
}
.red {
  background: $color-red;
}
