.xbui-checkBox {
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
  user-select: none;
  & > em {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: -2px;
    margin-right: 4px;
    border: 1px solid #dcdee2;
    border-radius: 2px;
    &::after {
      content: " ";
      position: absolute;
      width: 4px;
      height: 8px;
      left: 4px;
      top: 1px;
      display: table;
      border: #fff solid;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }
  }
  &.xbui-checkbox_checked {
    & > em {
      border-color: #2d8cf0;
      background-color: #2d8cf0;
      &::after {
        opacity: 1;
      }
    }
  }
  &.xbui-checkbox_disabled {
    cursor: not-allowed;
    & > em {
      border-color: #dcdee2;
      background-color: #f3f3f3;
      &::after {
        border-color: #ccc;
      }
    }
  }
}
