@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?xx11iq");
  src: url("fonts/icomoon.eot?xx11iq#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?xx11iq") format("truetype"), url("fonts/icomoon.woff?xx11iq") format("woff"),
    url("fonts/icomoon.svg?xx11iq#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="xb-icon-"],
[class*=" xb-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xb-icon-edit:before {
  content: "\e94b";
}
.xb-icon-achievement:before {
  content: "\e900";
}
.xb-icon-activity:before {
  content: "\e901";
}
.xb-icon-annex:before {
  content: "\e902";
}
.xb-icon-announcement:before {
  content: "\e903";
}
.xb-icon-arrow-down:before {
  content: "\e904";
}
.xb-icon-arrow-left:before {
  content: "\e905";
}
.xb-icon-arrow-right:before {
  content: "\e906";
}
.xb-icon-arrow-up:before {
  content: "\e907";
}
.xb-icon-Attendance:before {
  content: "\e908";
}
.xb-icon-audio:before {
  content: "\e909";
}
.xb-icon-bars:before {
  content: "\e90a";
}
.xb-icon-bedroom:before {
  content: "\e90b";
}
.xb-icon-campus:before {
  content: "\e90c";
}
.xb-icon-caret-bottom:before {
  content: "\e90d";
}
.xb-icon-caret-left:before {
  content: "\e90e";
}
.xb-icon-caret-right:before {
  content: "\e90f";
}
.xb-icon-caret-top:before {
  content: "\e910";
}
.xb-icon-check:before {
  content: "\e911";
}
.xb-icon-Child:before {
  content: "\e912";
}
.xb-icon-circle-check:before {
  content: "\e913";
}
.xb-icon-circle-check-outline:before {
  content: "\e914";
}
.xb-icon-circle-close:before {
  content: "\e915";
}
.xb-icon-circle-close-outline:before {
  content: "\e916";
}
.xb-icon-circle-download:before {
  content: "\e917";
}
.xb-icon-circle-plus:before {
  content: "\e918";
}
.xb-icon-circle-remove:before {
  content: "\e919";
}
.xb-icon-circle-upload:before {
  content: "\e91a";
}
.xb-icon-class:before {
  content: "\e91b";
}
.xb-icon-close:before {
  content: "\e91c";
}
.xb-icon-comment:before {
  content: "\e91d";
}
.xb-icon-comment-outline:before {
  content: "\e91e";
}
.xb-icon-copy:before {
  content: "\e91f";
}
.xb-icon-curriculum:before {
  content: "\e920";
}
.xb-icon-data-disk:before {
  content: "\e921";
}
.xb-icon-date:before {
  content: "\e922";
}
.xb-icon-delete:before {
  content: "\e923";
}
.xb-icon-disable:before {
  content: "\e924";
}
.xb-icon-drag:before {
  content: "\e925";
}
.xb-icon-error-circle:before {
  content: "\e926";
}
.xb-icon-exam:before {
  content: "\e927";
}
.xb-icon-export:before {
  content: "\e928";
}
.xb-icon-eye:before {
  content: "\e929";
}
.xb-icon-eye-off:before {
  content: "\e92a";
}
.xb-icon-filter:before {
  content: "\e92b";
}
.xb-icon-Finance:before {
  content: "\e92c";
}
.xb-icon-home:before {
  content: "\e92d";
}
.xb-icon-info-circle:before {
  content: "\e92e";
}
.xb-icon-learning-tasks:before {
  content: "\e92f";
}
.xb-icon-list:before {
  content: "\e930";
}
.xb-icon-loading:before {
  content: "\e931";
}
.xb-icon-management:before {
  content: "\e932";
}
.xb-icon-mechanism:before {
  content: "\e933";
}
.xb-icon-minus:before {
  content: "\e934";
}
.xb-icon-more:before {
  content: "\e935";
}
.xb-icon-password:before {
  content: "\e936";
}
.xb-icon-plus:before {
  content: "\e937";
}
.xb-icon-printer:before {
  content: "\e938";
}
.xb-icon-Progression:before {
  content: "\e939";
}
.xb-icon-question-circle:before {
  content: "\e93a";
}
.xb-icon-recruit-students:before {
  content: "\e93b";
}
.xb-icon-role:before {
  content: "\e93c";
}
.xb-icon-same-level:before {
  content: "\e93d";
}
.xb-icon-save:before {
  content: "\e93e";
}
.xb-icon-schedule:before {
  content: "\e93f";
}
.xb-icon-school:before {
  content: "\e940";
}
.xb-icon-search:before {
  content: "\e941";
}
.xb-icon-staff:before {
  content: "\e942";
}
.xb-icon-student:before {
  content: "\e943";
}
.xb-icon-success-circle:before {
  content: "\e944";
}
.xb-icon-sync:before {
  content: "\e945";
}
.xb-icon-teaching-setting:before {
  content: "\e946";
}
.xb-icon-time:before {
  content: "\e947";
}
.xb-icon-tree_ico:before {
  content: "\e948";
}
.xb-icon-user:before {
  content: "\e949";
}
.xb-icon-warning-circle:before {
  content: "\e94a";
}
