@import "common/var.less";

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?xx11iq");
  src: url("fonts/icomoon.eot?xx11iq#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?xx11iq") format("truetype"), url("fonts/icomoon.woff?xx11iq") format("woff"),
    url("fonts/icomoon.svg?xx11iq#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="-icon-"],
[class*="\@css-prefix-iconfont"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.@{css-prefix-iconfont}edit:before {
  content: "\e94b";
}
.@{css-prefix-iconfont}achievement:before {
  content: "\e900";
}
.@{css-prefix-iconfont}activity:before {
  content: "\e901";
}
.@{css-prefix-iconfont}annex:before {
  content: "\e902";
}
.@{css-prefix-iconfont}announcement:before {
  content: "\e903";
}
.@{css-prefix-iconfont}arrow-down:before {
  content: "\e904";
}
.@{css-prefix-iconfont}arrow-left:before {
  content: "\e905";
}
.@{css-prefix-iconfont}arrow-right:before {
  content: "\e906";
}
.@{css-prefix-iconfont}arrow-up:before {
  content: "\e907";
}
.@{css-prefix-iconfont}Attendance:before {
  content: "\e908";
}
.@{css-prefix-iconfont}audio:before {
  content: "\e909";
}
.@{css-prefix-iconfont}bars:before {
  content: "\e90a";
}
.@{css-prefix-iconfont}bedroom:before {
  content: "\e90b";
}
.@{css-prefix-iconfont}campus:before {
  content: "\e90c";
}
.@{css-prefix-iconfont}caret-bottom:before {
  content: "\e90d";
}
.@{css-prefix-iconfont}caret-left:before {
  content: "\e90e";
}
.@{css-prefix-iconfont}caret-right:before {
  content: "\e90f";
}
.@{css-prefix-iconfont}caret-top:before {
  content: "\e910";
}
.@{css-prefix-iconfont}check:before {
  content: "\e911";
}
.@{css-prefix-iconfont}Child:before {
  content: "\e912";
}
.@{css-prefix-iconfont}circle-check:before {
  content: "\e913";
}
.@{css-prefix-iconfont}circle-check-outline:before {
  content: "\e914";
}
.@{css-prefix-iconfont}circle-close:before {
  content: "\e915";
}
.@{css-prefix-iconfont}circle-close-outline:before {
  content: "\e916";
}
.@{css-prefix-iconfont}circle-download:before {
  content: "\e917";
}
.@{css-prefix-iconfont}circle-plus:before {
  content: "\e918";
}
.@{css-prefix-iconfont}circle-remove:before {
  content: "\e919";
}
.@{css-prefix-iconfont}circle-upload:before {
  content: "\e91a";
}
.@{css-prefix-iconfont}class:before {
  content: "\e91b";
}
.@{css-prefix-iconfont}close:before {
  content: "\e91c";
}
.@{css-prefix-iconfont}comment:before {
  content: "\e91d";
}
.@{css-prefix-iconfont}comment-outline:before {
  content: "\e91e";
}
.@{css-prefix-iconfont}copy:before {
  content: "\e91f";
}
.@{css-prefix-iconfont}curriculum:before {
  content: "\e920";
}
.@{css-prefix-iconfont}data-disk:before {
  content: "\e921";
}
.@{css-prefix-iconfont}date:before {
  content: "\e922";
}
.@{css-prefix-iconfont}delete:before {
  content: "\e923";
}
.@{css-prefix-iconfont}disable:before {
  content: "\e924";
}
.@{css-prefix-iconfont}drag:before {
  content: "\e925";
}
.@{css-prefix-iconfont}error-circle:before {
  content: "\e926";
}
.@{css-prefix-iconfont}exam:before {
  content: "\e927";
}
.@{css-prefix-iconfont}export:before {
  content: "\e928";
}
.@{css-prefix-iconfont}eye:before {
  content: "\e929";
}
.@{css-prefix-iconfont}eye-off:before {
  content: "\e92a";
}
.@{css-prefix-iconfont}filter:before {
  content: "\e92b";
}
.@{css-prefix-iconfont}Finance:before {
  content: "\e92c";
}
.@{css-prefix-iconfont}home:before {
  content: "\e92d";
}
.@{css-prefix-iconfont}info-circle:before {
  content: "\e92e";
}
.@{css-prefix-iconfont}learning-tasks:before {
  content: "\e92f";
}
.@{css-prefix-iconfont}list:before {
  content: "\e930";
}
.@{css-prefix-iconfont}loading:before {
  content: "\e931";
}
.@{css-prefix-iconfont}management:before {
  content: "\e932";
}
.@{css-prefix-iconfont}mechanism:before {
  content: "\e933";
}
.@{css-prefix-iconfont}minus:before {
  content: "\e934";
}
.@{css-prefix-iconfont}more:before {
  content: "\e935";
}
.@{css-prefix-iconfont}password:before {
  content: "\e936";
}
.@{css-prefix-iconfont}plus:before {
  content: "\e937";
}
.@{css-prefix-iconfont}printer:before {
  content: "\e938";
}
.@{css-prefix-iconfont}Progression:before {
  content: "\e939";
}
.@{css-prefix-iconfont}question-circle:before {
  content: "\e93a";
}
.@{css-prefix-iconfont}recruit-students:before {
  content: "\e93b";
}
.@{css-prefix-iconfont}role:before {
  content: "\e93c";
}
.@{css-prefix-iconfont}same-level:before {
  content: "\e93d";
}
.@{css-prefix-iconfont}save:before {
  content: "\e93e";
}
.@{css-prefix-iconfont}schedule:before {
  content: "\e93f";
}
.@{css-prefix-iconfont}school:before {
  content: "\e940";
}
.@{css-prefix-iconfont}search:before {
  content: "\e941";
}
.@{css-prefix-iconfont}staff:before {
  content: "\e942";
}
.@{css-prefix-iconfont}student:before {
  content: "\e943";
}
.@{css-prefix-iconfont}success-circle:before {
  content: "\e944";
}
.@{css-prefix-iconfont}sync:before {
  content: "\e945";
}
.@{css-prefix-iconfont}teaching-setting:before {
  content: "\e946";
}
.@{css-prefix-iconfont}time:before {
  content: "\e947";
}
.@{css-prefix-iconfont}tree_ico:before {
  content: "\e948";
}
.@{css-prefix-iconfont}user:before {
  content: "\e949";
}
.@{css-prefix-iconfont}warning-circle:before {
  content: "\e94a";
}
