@import "common/var.less";

@select-prefix: ~"@{css-prefix}select";

// 输入框样式
.@{select-prefix}-div {
  position: relative;
}

.@{select-prefix}-input {
  width: 100%;
  border-radius: 3px;
  box-sizing: border-box;
  &-border {
    border: 1px solid @color-gray3;
  }
  &-large {
    height: 40px;
    padding: 6px 15px;
  }

  &-medium {
    height: 32px;
    padding: 6px 12px;
  }

  &-small {
    height: 28px;
    padding: 6px 10px;
  }

  &-border:hover {
    border: 1px solid @color-primary;
  }

  &-clearable {
    display: none;
  }

  &-clearable:hover {
    display: block;
  }

  &-disabled {
    border: 1px solid @color-gray2;
    background-color: @color-gray1;
  }

  &-show {
    display: inline-block;
    height: 100%;
    line-height: 1;
    cursor: pointer;
  }
  &-show-border {
    width: calc(100% - 10px);
  }
  &-disabled-show {
    background-color: @color-gray1;
    color: #c0c4cc;
    cursor: @cursor-disabled;
  }

  // 多选被选中后的样式
  &-multiple {
    height: auto;
    min-height: 32px;
  }
}

// 多选
.@{select-prefix}-multiple {
  background-color: rgba(91, 138, 249, 0.1);
  color: #5a5e66;
  padding: 3px 6px 3px 10px;
  border-radius: 3px;
  height: 18px;
  display: inline-block;
  line-height: 18px;
  font-size: @font-size-12;
  margin-bottom: 5px;
  margin-right: 10px;
  &-show {
    vertical-align: middle;
    display: inline-block;
    margin-top: -2px;
  }

  &-icon {
    vertical-align: middle;
    margin-left: 8px;
    margin-top: -2px;
    display: inline-block;
    color: @color-gray4;
    background: @color-white;
    border-radius: 50%;
  }
}

// icon显示
.@{select-prefix}-icon {
  position: absolute;
  top: 30%;
  right: 12px;
  &-multiple {
    top: 47%;
  }

  &-gray {
    color: @color-gray4;
  }
}

// 筛选框样式
.@{select-prefix}-select-div {
  position: absolute;
  z-index: 2;
  top: 32px;
  background: @color-white;
  border: 1px solid @color-gray2;
  box-sizing: border-box;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.06), 0 0 12px rgba(0, 0, 0, 0.06), 0 2px 12px rgba(0, 0, 0, 0.06),
    0 0 12px rgba(0, 0, 0, 0.06);
}

.@{select-prefix}-select-ul {
  margin: 0;
  list-style: none;
  padding: 0;
  max-height: 300px;
  overflow-y: auto;
}

.@{select-prefix}-select-li {
  color: @color-gray5;
  font-size: @font-size-base;
  font-weight: 400;
  word-break: break-word;
  line-height: 18px;
  padding: 0 10px 0 17px;
  cursor: pointer;
  &:hover {
    background-color: #f4f8ff;
  }

  &-span {
    display: inline-block;
    width: calc(100% - 25px);
    vertical-align: middle;
    padding: 7px 0;
  }

  &-icon {
    display: inline-block;
    width: 15px;
    vertical-align: middle;
  }

  // 分组显示
  &-group {
    border-bottom: 1px solid #dcdfe6;
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
  }

  &-group:last-child {
    border-bottom: none;
  }

  &-group-title {
    color: @color-gray4;
    font-size: @font-size-12;
    padding: 5px 10px 5px 17px;
    cursor: default;
  }

  &-group-content {
    padding: 5px 10px 5px 17px;
  }
}

// 禁用
.@{select-prefix}-select-disabled {
  color: #c0c4cc;
  cursor: @cursor-disabled;
  &:hover {
    background-color: transparent !important;
  }
}
