@import "common/var.less";

@tabs-prefix: ~"@{css-prefix}tabs";

.@{tabs-prefix}-nav-item {
  display: inline-block;
  font-weight: 400;
  height: 100%;
  padding: 9px 20px;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  color: @color-gray5;
  margin-right: -4px !important;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: @color-primary;
  }
  &-disabled {
    cursor: @cursor-disabled;
    color: @color-gray3;
  }
  &-disabled:hover {
    color: @color-gray3;
  }
}

// 普通样式
.@{tabs-prefix}-nav-line {
  border-bottom: 1px solid @color-gray5;
  &-active {
    border-bottom: 2px solid @color-primary;
    color: @color-primary;
  }
}

// 卡片样式
.@{tabs-prefix}-nav-card {
  background: @color-white;
  margin: 0;
  border: 1px solid @color-gray2;
  border-bottom: 0;
  border-radius: 0;
  &:first-child {
    border-radius: 4px 0 0 0;
    border-right: 0;
  }
  &:last-child {
    border-radius: 0 4px 0 0;
    border-left: 0;
  }
  &-active {
    color: @color-primary;
  }
}

// 按钮样式
.@{tabs-prefix}-nav-btn {
  background: @color-white;
  margin: 0;
  border: 1px solid @color-gray3;
  border-radius: 0;
  &:first-child {
    border-radius: 4px 0 0 4px;
    border-right: 0;
  }
  &:last-child {
    border-radius: 0 4px 4px 0;
    border-left: 0;
  }
  &-active {
    color: @color-primary;
    background: @color-primary1;
  }
}

// 滑块样式
.@{tabs-prefix}-nav-slider {
  background: rgba(91, 138, 249, 0.1);
  margin: 0;
  border: 2px solid rgba(91, 138, 249, 0.1);
  border-radius: 0;
  &:first-child {
    border-radius: 4px 0 0 4px;
    border-right: 0;
  }
  &:last-child {
    border-radius: 0 4px 4px 0;
    border-left: 0;
  }
  &-active {
    color: @color-primary;
    background: @color-white;
  }
}
