// 全局css样式字首定义
$css-prefix: "xbui-" !default; /** css前缀名称 */
$css-prefix-iconfont: "xbui-icon" !default; /** css-icon前缀名称 */

/** 全局颜色样式定义 -- START*/
// 品牌色
$color-primary1: #f4f8ff !default;
$color-primary2: #d9e8ff !default;
$color-primary3: #86afff !default;
$color-primary: #5b8af9 !default; /** 主颜色样式--品牌色*/
$color-primary5: #446ad4 !default;
$color-primary6: #2f4cad !default;
$color-primary7: #1e3387 !default;
// 中性色
$color-white: #ffffff !default; /** 纯白*/
$color-gray1: #f5f5f5 !default;
$color-gray2: #e5e5e5 !default;
$color-gray3: #cccccc !default;
$color-gray4: #aaaaaa !default;
$color-gray5: #737373 !default;
$color-gray6: #333333 !default;
$color-black: #000000 !default;

// 功能色
$color-blue: #1890ff !default;
$color-green: #52c41a !default;
$color-orange: #faad14 !default;
$color-red: #f5222d !default;
$color-gray: $color-gray3 !default;

// 其他
$color-background-base: $color-gray1 !default; /** 灰，一般用作背景色*/
$color-disabled-base: $color-gray2 !default; /** 灰，用作组件禁用时的背景色*/
$color-border-base: $color-gray3 !default; /** 灰，用作边框、分割线*/

/** 全局颜色样式定义 -- END*/

/** 全局字体样式定义 -- START*/
$font-size-12: 12pt !default;
$font-size-base: 14pt !default;
$font-size-16: 16pt !default;
$font-size-18: 18pt !default;
$font-size-20: 20pt !default;
$font-size-24: 24pt !default;
$font-size-32: 32pt !default;
$font-color-base: $color-gray6 !default;
$font-placeholder-base: $color-gray4 !default; /** 灰，一般用作placeholder，常用*/
/** 全局字体样式定义 -- END*/

// 动画
$animation-time: 0.3s !default;
$transition-time: 0.2s !default;
$ease-in-out: ease-in-out !default;

// 其他全局样式定义
$cursor-disabled: not-allowed !default; /**鼠标经过禁用样式*/
